body {
  background-image: url("img/pricing_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.page{ 
  opacity: 0.5;
  background-color: white;
  width: 100vx;
  height: 65vh;

  padding: 1px;
}
/* nav {
  background-color: #333;
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
  margin: 1%;
  padding: 0.5%;
  display: flex;
  font-size: x-large;
  text-align: center;
}
nav li {
  width: 33.3%;
} */
h1{
    background-color: lightslategray;
    border-radius: 5px;
    text-align: center;
    width: 95%;
    margin-top: 1vh;
}
footer {
    color: aqua;
    background-color: black;
    padding: 1%;
    border-radius: 5px;
  }
ul{
    list-style-type: none;
}