body {
    background-image: url("img/equipments_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .page {
    opacity: 0.5;
    background-color: white;
    width: 100vx;
    height: 65vh;
    border-radius: 10px;
    padding: 1px;
    display: flex;
  }
  
  /* 
  nav {
    background-color: #333;
    border-radius: 10px;
  } */
  
  /* nav ul {
    list-style-type: none;
    margin: 1%;
    padding: 0.5%;
    display: flex;
    font-size: x-large;
    text-align: center;
  } */
  
  /* nav li {
    width: 33.3%;
  } */
  
  footer {
    color: aqua;
    background-color: black;
    padding: 1%;
    border-radius: 5px;
  }
  
  /* ul {
    list-style-type: none;
    display: block;
  }
  
  img {
    height: 15%;
    width: 15%;
  
  } */
.col-md-3{
    text-align: center;
    color: white;
    background-color: black;
}